
.horizontal-padding-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}


.textarea-to-input {
    width:200px;
    resize:none;
    overflow:hidden;
    font-size:18px;
    height:1.1em;
    padding:2px;
  }

  #listaPerguntas {
    list-style: none;
    padding: 0;
  }

  .lines-2 {
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
}

.inPeso {
  width: 7% !important;
  margin-right: 2.75rem;
}